@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

@if (request.HttpClient.Authenticated)
{
    @section LeftMenu{@{await Html.RenderPartialAsync("RedirectPanel"); } }
}

<p>
    Developer: Savitskiy Dmitriy<br>
    Mail: 2sabba322@gmail.com
</p>
<p>
    Project GitHub: <a href="https://github.com/DelauEnd/CargoTransportation">link</a> <br>
    Backend GitHub: <a href="https://github.com/DelauEnd/CargoTransportationAPI">link</a>
</p>
