@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @{
            if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <input class="btn btn-primary" style="width:200px" type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("login", "authentication") + "'");" />
                </p>
                <p>
                    <input class="btn btn-primary" style="width:200px" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("registration", "authentication") + "'");" />
                </p>
            }
         }
    </div>
