@model OrderForCreationDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@section LeftMenu{@{await Html.RenderPartialAsync("RedirectPanel"); } }

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <br>@Html.DropDownList("SenderId", new SelectList(ViewBag.customers as IEnumerable<CustomerDto>, "Id", "Address") as SelectList, new { @class = "form-control form-select" })
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <br>@Html.DropDownList("DestinationId", new SelectList(ViewBag.customers as IEnumerable<CustomerDto>, "Id", "Address") as SelectList, new { @class = "form-control form-select" })
                <span asp-validation-for="DestinationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
