@model CustomerForUpdateDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <h4>Contact person</h4>
            <div class="form-group">
                <label asp-for="ContactPerson.Name" class="control-label"></label>
                <input asp-for="ContactPerson.Name" class="form-control" />
                <span asp-validation-for="ContactPerson.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson.Surname" class="control-label"></label>
                <input asp-for="ContactPerson.Surname" class="form-control" />
                <span asp-validation-for="ContactPerson.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson.Patronymic" class="control-label"></label>
                <input asp-for="ContactPerson.Patronymic" class="form-control" />
                <span asp-validation-for="ContactPerson.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson.PhoneNumber" class="control-label"></label>
                <input asp-for="ContactPerson.PhoneNumber" class="form-control" />
                <span asp-validation-for="ContactPerson.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
